[submodule "calio"]
	path = calio
	url = https://github.com/EdwinMindcraft/calio
	branch = 1.17.x/forge
[submodule "apoli"]
	path = apoli
	url = https://github.com/EdwinMindcraft/apoli
	branch = 1.17.x/forge
[submodule "origins"]
	path = origins
	url = https://github.com/EdwinMindcraft/origins-architectury
	branch = 1.17.x
